// Add your custom CSS here.
// desktop acima de 14 polegadas
@media  screen and (min-width: 1368px) {
}

//desktop normal size
@media  screen and (min-width: 998px) and (max-width: 1367px) {
  .banner-slider {
    max-width: 100%
  }
  
  //botão cancelar
  .btn-danger {
    display: none !important;
  }
  
  .body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .product__buy button {
    padding: .5rem 4rem;
  }
  
  .products-carousel .ts-shelf-container {
    display: none;
   }
  
  .menu__btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    color: #ffffff;
}

}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 997px) {

}
// apenas mobile
@media screen and (max-width: 480px) {

}
