// Add your custom CSS here.
  
//botão cancelar
  .order-info__toggle.btn.btn-danger.btn-sm {
    display: none !important; }

// FRETE CALCULO
.shipping-calculator__services::before {
  content: 'FRETE GRÁTIS ACIMA DE R$200 \A *Apenas Nordeste';
  white-space: pre; /* or pre-wrap */
  font-weight: bold;
  font-size: 13px;
  color: #339933;
}

//cor botao comprar
.btn-primary, .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #393;
    border-color: #393;
}

// aumentar botao comprar
.product__buy button {
    padding: .5rem 4rem;
}

// hide trustvox star
.ec-product-card__name +div {margin-left: 25%; display: none !important;}

//remover status pedido aberto
.order-info__status--open {
  display: none !important;
}


// desktop acima de 14 polegadas
@media  screen and (min-width: 1368px) {
}
//desktop normal size
@media  screen and (min-width: 998px) and (max-width: 1367px) {
  .banner-slider {
    max-width: 100%
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 997px) {

}
// apenas mobile
@media screen and (max-width: 480px) {
  //aparecer sempre botão comprar
.product-card__buy.fade {
  opacity: 1 !important;
}
  .search-engine__results .product-card__buy.fade {
  opacity: 0 !important;
  }
}

// hover menu
.menu__item:hover {
color: #fff !important;
}
.header__row .header__nav a {
    padding-right: 1rem;
}

  .body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .product__buy button {
    padding: .5rem 4rem;
  }
  
  .products-carousel .ts-shelf-container {
    display: none;
   }
  
  .menu__btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    color: #ffffff;
  }
  
  .footer__stamps li:nth-child(3) > img {
    width: 70%;
  }
  
  .footer__stamps img {
    max-width: 120px;
  }
